{% extends "base.html" %}
{% block title %}Edit Account{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="form-bubble">
      <form method="POST">
        <h3 align="center">Edit Account</h3>
        <div class="form-group">
            <input type="hidden" name="id" value="{{ user.id }}">
        </div>
        <div class="form-group">
          <label hidden for="email">Email Address</label>
          <input hidden
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="{{ user.email }}"
          />
        </div>
        <div class="form-group">
          <label for="userName">Username:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="{{ user.user_name }}"
          />
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="btn btn-success">Update</button>
      </form>
    </div>
</div>
{% endblock %}